<main class="main-wrapper notifications">
  <h1>Notifications</h1>
  <div class="container">
    <section class="notifications--delete-all">

      <!-- Relier la methode "onDeleteAll" à l'evenement du click sur le bouton "Supprimer tout" -->       
      <button class="btn--danger" (click)="onDeleteAll()">Supprimer tout</button>
    </section>
    
    <!-- Utilisation de la directive condition "*ngIf" pour ajouter ou non au DOM pour cet l'utilisateur 
      qu'il a eu une reaction de quelqu'un sur son post ou un commentaire ou une réponse a son commentaire -->       
    <section *ngIf="notificationsService.notifications.length > 0">

      <!-- Utilisation de la directive *ngFor" pour afficher un tableau au lieu d'une variable par
      element, c.a.d on insere une instance de ce component et associe sa propriété à un element du tableau -->      
      <div *ngFor="let notification of notificationsService.notifications" class="notifications--list">
        <a [routerLink]="'/post/' + notification.postId">
          <p *ngIf="notification.type === 'reaction'">{{notification.initiator}} a réagi à votre post</p>
          <p *ngIf="notification.type === 'comment'">{{notification.initiator}} a commenté votre post</p>
          <p *ngIf="notification.type === 'answer'">{{notification.initiator}} a répondu à votre commentaire</p>
        </a>
        <button class="btn--danger" (click)="onDeleteOne(notification.id)" aria-label="Supprimer la notification"><i class="fas fa-trash"></i></button>
      </div>
    </section>
    <p *ngIf="notificationsService.notifications.length === 0">Vous n'avez pas de nouvelles notifications</p>
  </div>
</main>

