@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: $color-back-background;
  background-color: rgba(202, 255, 185, 0.561); 
  //linear-gradient(rgba(187, 187, 187, 0.253), rgba(187, 187, 187, 0.253)),
              // no-repeat center /100% fixed url("./assets/3b2j.jpg");
         
  color: $color-main-text;
  font-family: $font-body;
}
textarea {
  font-family: $font-body;
}
p {
  margin: 0;
}
h1, h2, h3, h4 {
  margin: 0;
  font-family: $font-headers;
  line-height: 1.15;
}
h1 {
  font-size: 2rem;
  color: black;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border-style: none;
}
.main-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 3%;
}