h4 {
    text-align: center;
    position: fixed;
    bottom: 0;
    float: none;
    margin: auto;
    padding: 10px;
    width: 100%;
    display: inline-block;
    background-color: rgb(8, 3, 248);
    color: white;
}